.container {
  max-width: 800px;
  margin: 0 auto;
}

.Chart {
  background: white;
  opacity: 0.9;
  border-radius: 15px;
  box-shadow: 0px 2px 15px rgba(25, 25, 25, 2.5);
}

.Chart h2 {
  margin-top: 0;
  padding: 15px 0;
  color: rgba(255, 0,0, 0.5);
  border-bottom: 1px solid #323D54;
}
