<template>
  <div id="Data">
    <div class="Chart">
      <h2>Bill data</h2>
      <vue-good-table
        :columns="columns"
        :rows="rows"
        :paginate="true"
        :lineNumbers="true"
        :globalSearch="true"
        styleClass="table condensed table-bordered table-striped"/>
      </div>
  </div>
</template>

<script>
import Vue from 'vue';
import VueGoodTable from 'vue-good-table';
import _ from 'lodash';
import ApiHelper from './ApiHelper';

Vue.use(VueGoodTable);

export default {
  data() {
    return {
      columns: [
        {
          label: 'Type',
          field: 'type',
          filterable: true,
        },
        {
          label: 'Amount',
          field: 'amount',
          type: 'number',
          html: false,
          filterable: true,
        },
        {
          label: 'Date',
          field: 'dateSimple',
          type: 'date',
          inputFormat: 'MM/DD/YYYY',
          outputFormat: 'MM/DD/YYYY',
        },
        {
          label: 'Description',
          field: 'description',
        },
      ],
      rows: [],
    };
  },
  mounted() {
    ApiHelper.apiCall().then((bills) => {
      const datasetArray = [];
      datasetArray.push(_.each(bills));
      this.rows = datasetArray[0];
    });
  },
};
</script>

<style lang="scss">
  @import "Chart.scss";
</style>
