<template>
  <div class="header">
    <h2>{{ msg }}</h2>
  </div>
</template>

<script>
export default {
  name: 'header',
  data() {
    return {
      msg: 'Select a chart to check you bills!',
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
  padding: 6px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
