<template>
  <div id="lineComponent">
    <div class="container">
      <div class="Chart__list">
        <div class="Chart">
          <h2>Line Chart</h2>
          <line-chart :chart-data="lineData" :chart-labels="lineLabels"></line-chart>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import moment from 'moment';
import backend from '../resources/backend.json';
import LineChart from './LineChart';

export default {
  name: 'lineComponent',
  components: {
    LineChart,
  },
  data() {
    return {
      lineData: this.getDataset(),
      lineLabels: this.getTimeline(),
    };
  },
  methods: {
    getBills(type) {
      const carBills = _(backend.bills)
        .filter(bills => bills.type === type)
        .map('amount')
        .value();
      return carBills;
    },
    getTimeline() {
      const timeline = _(backend.bills)
        .filter(bill => bill.type === 'shopping') // TODO fix
        .map((bill) => {
          const date = moment(bill.date, 'MM/DD/YYYY').toDate();
          return date;
        })
        .value();
      return timeline;
    },
    getDataset() {
      return [
        {
          label: 'Car Bills',
          borderColor: 'green',
          pointBackgroundColor: 'green',
          borderWidth: 1,
          pointBorderColor: 'green',
          data: this.getBills('car'),
        },
        {
          label: 'Shopping Bills',
          borderColor: 'red',
          pointBackgroundColor: 'red',
          borderWidth: 1,
          pointBorderColor: 'red',
          data: this.getBills('shopping'),
        },
        {
          label: 'Housing Bills',
          borderColor: 'blue',
          pointBackgroundColor: 'blue',
          borderWidth: 1,
          pointBorderColor: 'blue',
          data: this.getBills('house'),
        },
      ];
    },
  },
};
</script>

<style lang="scss">
  @import "Chart.scss";
</style>
