<template>
  <div id="LineGoogleChartComponent">
    <div class="container">
      <div class="Chart__list">
        <div class="Chart">
          <h2>Line Chart (Google Charts)</h2>
          <vue-chart
            :columns="columns"
            :rows="rows"
            :options="options"
          ></vue-chart>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueCharts from 'vue-charts';
import Vue from 'vue';
import _ from 'lodash';
import moment from 'moment';
import ApiHelper from './ApiHelper';

Vue.use(VueCharts);

export default {
  name: 'LineGoogleChartComponent',
  components: {
    VueCharts,
  },
  data() {
    return {
      columns: [
        {
          type: 'string',
          label: 'Date',
        },
        {
          type: 'number',
          label: 'Car',
        },
        {
          type: 'number',
          label: 'House',
        },
        {
          type: 'number',
          label: 'Shopping',
        },
      ],
      rows: [],
      options: {
        title: 'Bill Chart',
        hAxis: {
          title: 'Date',
        },
        vAxis: {
          title: 'Amount',
          minValue: 0,
        },
        height: 500,
        width: 500,
      },
    };
  },
  mounted() {
    ApiHelper.apiCall().then((bills) => {
      let returnRows = [];
      returnRows = this.getDataset(bills);
      this.rows = returnRows;
    });
  },
  methods: {
    getDataset(bills) {
      const datasetArray = [];
      const datasetTimeline = _.orderBy(bills, bill => moment(bill.dateSimple, 'MM/DD/YYYY').toDate());
      const dataset = _.groupBy(datasetTimeline, data => data.dateSimple);
      const timeline = _.map(dataset, data => data[0].dateSimple);

      timeline.forEach((date) => {
        const arrayValues = [
          date,
          this.getBillsByDateAndType(bills, date, 'car'),
          this.getBillsByDateAndType(bills, date, 'house'),
          this.getBillsByDateAndType(bills, date, 'shopping'),
        ];
        datasetArray.push(arrayValues);
      });
      return datasetArray;
    },
    getBillsByDateAndType(bills, date, type) {
      const carBills = _(bills)
        .filter(bill => bill.type === type && _.isEqual(bill.dateSimple, date))
        .map(bill => bill.amount)
        .value();
      const returnValue = (carBills[0] > 0) ? carBills[0] : 0;
      return returnValue;
    },
  },
};
</script>

<style lang="scss">
  @import "Chart.scss";
</style>
