@import '../mixins.scss';

#myFooter {
  position: fixed;
  background-color: black;
  height: 40px;
  width: 100%;
  bottom: 0;

  .footer {
    display: flex;
    justify-content: center;
    height: 100%;
    color: white;

    @include bp(phone-s) {
      justify-content: flex-start;
    }

    a {
      color: white;
    }
    p {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      font-size: 13px;
      position: absolute;
      right: 0;
      margin: 10px;
    }
    .fa-icon {
      height: 2em;
      width: auto;
      padding: 5px 30px;

      @include bp(phone) {
        padding: 5px 10px;
      }

      &--copyright {
        position: fixed;
        right: 80px;
        color: white;
        height: 13px;
        padding: 0;
        margin: 12px 3px 0 0;
      }
    }
  }
}
