<template>
<div id="myFooter">
  <div class="footer">
    <a href="https://www.instagram.com/herrarehtori/" target="_blank" ><icon class="fa-icon" name="instagram" color="white"></icon></a>
    <a href="https://twitter.com/herrarehtori" target="_blank" ><icon class="fa-icon" name="twitter" color="white"></icon></a>
    <a href="https://www.instagram.com/p/BWkqpeejLd7/?taken-by=herrarehtori" target="_blank" ><icon class="fa-icon" name="snapchat" color="white"></icon></a>
    <a href="https://bitbucket.org/alatjo/" target="_blank">
      <icon class="fa-icon fa-icon--copyright" name="copyright" color="white"></icon>
      <p>Joni Alatalo</p>
    </a>
  </div>
</div>
</template>

<script>
import Vue from 'vue';
import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons';

Vue.component('icon', Icon);

export default {
  name: 'myFooter',
  components: {
    icon: Icon,
  },
};
</script>

<style lang="scss">
  @import "MyFooter.scss";
</style>
