@import '../mixins.scss';

#navigation {
  background-color: black;
  height: 60px;
  position: fixed;
  z-index: 10;
  width: 100%;
}
// modified from https://codepen.io/mikuel/pen/rwoqXW

.burger {
  position: relative;
  background-color: black;
  height: 100%;
  width: 100%;

  @include bp(phone) {
    width: 75px;
  }

  &__checkbox {
    position: relative;
    left: -9999em;
  }

  &__action {
    display: none;

    @include bp(phone) {
      display: block;
    }

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
  }

  &__line {
    position: absolute;
    margin: 27px 10px 0 10px;
    height: 4px;
    width: 50px;
    background-color: white;
    transition: transform 0.8s ease-out;

    &::after {
      content: '';
      position: absolute;
      transform: rotate(0deg);
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: white;
      transition: transform 0.8s ease-out;
    }

    &:nth-child(2) {
      margin-top: 15px;
    }

    &:nth-child(3) {
      margin-top: 40px;
    }

    &:nth-child(2), &:nth-child(3) {
      transition: margin 0.5s ease-out 0.8s, opacity 0s linear 0.8s;
    }

    .burger__checkbox:checked + .burger__action & {
      transform: rotate(1125deg);
      transition: transform ease-out 0.8s;

      &::after {
        transform: rotate(90deg);
        transition: transform ease-out 0.8s;
      }

      &:nth-child(2), &:nth-child(3) {
        opacity: 0;
        margin-top: 27px;
      }
    }
  }
}

.menu {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 25px;

  @include bp(phone) {
    position: fixed;
    font-size: 30px;
    top: 57px;
    width: 100%;
    height: 0px;
    background-color: #333;
    transition: height 0.8s ease-out;
    opacity: 0.9;
    z-index: 1;
  }

  a {
    text-decoration: none;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.2s ease-in;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include bp(phone) {
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }
  &__item {
    color: white;
    margin: auto 15px;

    @include bp(phone) {
      margin: 0;
    }

    &--separator {
      background-color: white;
      width: 1px;
      height: 30px;

      @include bp(phone) {
        margin: 0;
        width: 200px;
        height: 1px;
        margin: 10px 0;
      }
    }
  }
}

.burger__checkbox:checked ~ .menu {
  @include bp(phone) {
    height: 220px;
  }
}

.navigation-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 10px;
}
