<template>
<div id="navigation">
  <div class="burger">
    <input type="checkbox" id="burger" class="burger__checkbox">
    <label for="burger" class="burger__action">
      <div class="burger__line"></div>
      <div class="burger__line"></div>
      <div class="burger__line"></div>
    </label>
    <div class="menu">
      <div class="menu__inner">
      <a href="#" class="menu__item" @click="closeMenu">Home</a>
      <!--
      ChartJS - Same done better with GoogleCharts
      <a href="#Line" class="menu__item" @click="closeMenu">Line</a>
      -->
      <a href="#LineGoogleChart" class="menu__item" @click="closeMenu">Line</a>
      <a href="#Pie" class="menu__item" @click="closeMenu">Pie</a>
      <div class="menu__item--separator"></div>
      <a href="#Data" class="menu__item" @click="closeMenu">Data</a>
    </div>
    </div>
  </div>
  <img class="navigation-image" src="../assets/logo.png">
</div>
</template>

<script>
export default {
  name: 'navigation',
  methods: {
    closeMenu() {
      document.getElementById('burger').checked = false;
    },
  },
};
</script>

<style lang="scss">
  @import "Navigation.scss";
</style>
