<template>
  <div class="Chart">
    <h2 class="Chart__header">Pie Chart</h2>
   <pie-chart :chart-data="pieDataset" :chart-labels="pieLabels"></pie-chart>
  </div>
</template>

<script>
import _ from 'lodash';
import axios from 'axios';
import Vue from 'vue';
import VueAxios from 'vue-axios';
import PieChart from './PieChart';
import ApiHelper from './ApiHelper';

Vue.use(VueAxios, axios);

export default {
  name: 'pieComponent',
  components: {
    PieChart,
  },
  data() {
    return {
      pieDataset: [],
      pieLabels: [],
    };
  },
  mounted() {
    ApiHelper.apiCall().then((bills) => {
      this.getDataset(bills);
      this.getLabels(bills);
    });
  },
  methods: {
    getDataset(bills) {
      this.pieDataset = [
        {
          backgroundColor: [
            'rgba(65, 184, 131, .8)',
            'rgba(0, 216, 255, .8)',
            'rgba(155, 89, 182, .8)',
          ],
          borderWidth: 0,
          data: this.getFilteredBills(bills),
        },
      ];
    },
    getLabels(bills) {
      this.pieLabels = _(bills)
        .map(bill => bill.type)
        .uniq(bill => bill.type)
        .orderBy('type', 'asc')
        .value();
    },
    getFilteredBills(bills) {
      const filteredBills = _(bills)
        .groupBy('type')
        .map((objs, key) => ({
          type: key,
          amount: _.sumBy(objs, 'amount'),
        }))
        .orderBy('type', 'asc')
        .value();
      return _.map(filteredBills, bill => bill.amount);
    },
  },
};
</script>

<style lang="scss">
  @import "Chart.scss";
</style>
