<template>
  <div id="app">
    <div class="app-inner-box">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>

export default {
  name: 'app',
};
</script>

<style lang="scss">
  @import "App.scss";
</style>
