#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2C3E50;
  padding-top: 20px;
  background: url('https://source.unsplash.com/category/nature/1920x1080') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .app-inner-box {
    width: 80vw;
    max-width: 500px;
    margin: 80px auto;
    background-color: white;
    //opacity: 0.8;
    box-shadow: 0px 2px 15px rgba(25, 25, 25, 2.5);
    //margin-top: 200px;
    border-radius: 15px;
  }
}
