@mixin bp($point) {
  $bp-phone-s: '(max-width: 350px)';
  $bp-phone: '(max-width: 600px)';
  $bp-tablet: '(max-width: 1250px)';
  $bp-desktop: '(max-width: 1920px)';

  @if $point == desktop {
    @media #{$bp-desktop} {
      @content;
    }
  }
  @else if $point == tablet {
    @media #{$bp-tablet} {
      @content;
    }
  }
  @else if $point == phone {
    @media #{$bp-phone} {
      @content;
    }
  }
  @else if $point == phone-s {
    @media #{$bp-phone-s} {
      @content;
    }
  }
}
